@media (max-width: 481px) {
/*  body{font-size: 10%;} */

  .main {
    margin-top: -8%;
    font-size: 34px;
  }

  .sub {
    font-size: 24px;
    margin-top: -20%;
  }

  .date {
    font-size: 14px
    margin-top: 0%;
  }

  .img-wrapper {
    width: 80%;
  }

  .footer {
    text-align: center;
    width: 100%;
    margin-bottom: 20%;
    margin-top: 5%;
  }

}

@media (min-width: 481px) and (max-width:630px) {
  /*  body{font-size: 500%;} */

    .main {
      font-size: 46px;
      margin-top: -8%;
    }

    .sub {
      font-size: 33px;
      margin-top: -20%;
    }

    .date {
      font-size: 20px;
      margin-top: 0%;
    }

    .img-wrapper {
       width: 60%;
     }

     .footer {
       text-align: center;
       width: 100%;
       margin-bottom: 20%;
       margin-top: 5%;
     }
  }


@media (min-width: 630px) and (max-width:767px) {
  /*body{font-size: 100%;*/

  .main {
    font-size: 64px;
    margin-top: -8%;
  }

  .sub {
    font-size: 46px;
    margin-top: -20%;
  }

  .date {
    font-size: 28px;
    margin-top: 0%;
  }

  .img-wrapper {
     width: 50%;
   }

   .footer {
     text-align: center;
     width: 100%;
     margin-bottom: 20%;
     margin-top: 5%;
   }

}
